$colorCaption: #ffffff;
$colorCaption2: #0586ff;
.body{
    padding: 0px 20px 20px 20px;
    width: 300px;
}

.header{
    z-index: 99 !important;
    background-color: $colorCaption2;
    border-radius: 3px 3px 0px 0px;
    margin-top: -24px;
    margin-left: -24px;
    margin-bottom: 0px;
    width: 117.5%;
    height: 60px;
    padding: 15px 0px 0px 30px;
    overflow: hidden;
}

.text-header {
    color: $colorCaption;
    font-weight: 500;
    font-size:18px;
}

.buttons{
    margin-top: 20px;
    margin-bottom: -20px;
    display:inline;
    text-align: right;
}